main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  width: 90vw;
  margin: 5rem auto;
  background: #fff;
  border-radius: 0.25rem;
  padding: 2rem 2rem;
  max-width: 920px;
}
.btn {
  background: transparent;
  border: transparent;
  width: 3rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: purple;
  align-self: center;
  font-size: 25px;


}
.content {
  background: rgb(236, 234, 234);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid #eae6eb;
  box-shadow: 0 5px 15px rgba(0, 0, 0,0.1);
}
.content p {
  color: purple;
}
.content header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}